@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #fe5f1e;
    --hover: #b23301;
    --secondary: #f8f8f8;
    --gray: #ccc;
    --smooth: all 0.3s ease-out;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

.btn {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 5px 10px;
    transition: all 0.4s ease;
}
.btn:hover {
    background-color: var(--hover);
}
.loader-rotate {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-width: 3px;
    animation: rotate 1s linear infinite;
    border-top-color: orange;
    border-left-color: orange;
    border-right-color: orange;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* CSS */
.btn.loading:after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid transparent;
    border-top-color: currentColor;
    border-left-color: currentColor;
    border-right-color: currentColor;
    animation: spin 0.6s linear infinite;
    margin-left: 0.5em;
    vertical-align: middle;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  


  .brand-logo{
    clip-path: polygon(100% 21%, 92% 53%, 100% 80%, 0 80%, 8% 50%, 0 21%);
  }

  .footer-bg{
    background-color: #00003c;
  }

.header-form{
  min-width: 200px;
}
  @media (min-width: 870px) {
    .top-header{
      justify-content: space-between;
    }

    .header-form{
      min-width: 330px!important;
    }
  }